* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background: linear-gradient(to right, #3498db, #2980b9);
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    margin-bottom: 10px;
}

header img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

header img:hover {
    transform: scale(1.2);
}

footer {
    background: linear-gradient(to right, #3498db, #2980b9);
    color: #fff;
    padding: 10px 10px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

main {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding: 30px;
    margin-top: 160px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

main:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

input,
select,
button {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

input:focus,
select:focus {
    border-color: #3498db;
}

button {
    background: linear-gradient(to right, #3498db, #2980b9);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    background: linear-gradient(to right, #2980b9, #3498db);
    transform: scale(1.05);
}

#convertedTemperature {
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #065082;
}